@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

body{
    background: url(img/bg-texture.png) repeat #f0eadd;
}

header{
    font-family: "Quattrocento", serif;
    font-weight: 700;
    background: url('img/—Pngtree—retro inspired brown pattern texture_13620356.jpg') repeats;
}
